<div class="col-md-3" style="padding-top:120px;">  </div>
<div class="col-md-6" style="padding-top:120px;">
<div class="panel panel-default">
                  <div class="panel-heading"><h4>اطلاعات پروفایل</h4></div>
                  <div class="panel-body">
              <div class="container">

<br>
<%= render 'form' %>
</div></div></div></div></div>
<div class="col-md-3" style="padding-top:500px;">  </div>
