<div class="col-md-7" style="padding-top:70px;">
	<div class="panel panel-default">
    <div class="panel-heading"><h4>ویرایش مقاله کنفرانس</h4></div>
    	<div class="panel-body">
					<br>
					<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
