<a data-toggle="collapse" data-parent="#accordion" href="#comments<%= @commentable.id%>">
	<i class="icon-comment blue"></i>
	<span style='font-size:70%;'>[<%= @commentable.comments.count%>]</span>
</a>