<%= render :partial => "home/sidebar"%>  
<div class="col-md-9" style="padding-top:70px;">  
	<div class="panel panel-default"  style="overflow:hidden">
		<div class="panel-heading"><h4>تقویم</h4></div>
		<div class="panel-body">



			<div>
				<div class="calendar"></div>
			</div>

			<script type="text/javascript">
				$('.calendar').fullCalendar(full_calendar_options);
			</script>
 
		</div>
	  </div>
	</div>
		
	


  <body class="bgbook"></body>
