<div class="col-md-2" style="padding-top:50px;margin-right:70px;">
	<br>
	<%= render :partial => "friendships/ratingcard"%>
	<%= render :partial => "friendships/followed", :object => @profile%>
	
  	</div>


<!--<a href="#"><strong><h2> <i class="glyphicon glyphicon-user"></i> -->

