	<div class="panel panel-default"  style="overflow:hidden">
		<div class="panel-heading"><h4>راهنمای استفاده</h4></div>
		<div class="panel-body">
<p>این سیستم برای کمک به اشتراک دانش کاربران ایجاد شده است. شما کاربران عزیز می توانید با به اشتراک گذاشتن دانش خود در این سیستم امتیاز کسب کنید و از لحاظ امتیازات با دیگران مقایسه شوید.</p>
<p><span style="background-color: #ffff99;"><strong><span style="font-size: small;">به اشتراک گذاری دانش:</span></strong></span></p>
<p>اشیاء دانشی اعم از پروپوزال، پایان نامه، مقاله ژورنال یا کنفرانس، ارائه و گزارش فنی و گزارش پیشرفت خود را می توانید از سربرگ مربوطه در صفحه خانه (<a href="http://localhost:3000/#one">اینجا</a>) آپلود نمایید. برای آپلود تمامی فیلدها را باید به خوبی پر کنید و تمامی فایل های ضمیمه حتی در مورد ارائه ها باید با فرمت پی دی اف (PDF) باشند.</p>
<p>اشیاء دانشی به اشتراک گذاشته توسط خود را می توانید در قسمت دسترسی &gt; پروفایل من مشاهده کنید.</p>
<p>کاربران می توانند این اشیاء را بپسندند و یا زیر آن ها کامنت بگذارند.&nbsp;</p>
<p>شما می توانید پروفایل افراد دیگر را نیز مشاهده کنید.</p>
<p><span style="background-color: #ffff99;"><strong><span style="font-size: small;">تنظیمات کاربری:</span></strong></span></p>
<p>برای تغییر رمز عبور از منوی تنظیمات &gt; ویرایش اطلاعات کاربری اقدام فرمایید.</p>
<p><span style="background-color: #ffff99;"><strong><span style="font-size: small;">تنظیمات پروفایل:</span></strong></span></p>
<p>برای تغییر مواردی از قبیل نام، تاریخ تولد، جنسیت، وضعیت تحصیلی و تصویر پروفایل می توانید از منوی تنظیمات &gt; ویرایش پروفایل اقدام کنید.</p>
<p><span style="font-size: small; background-color: #ffff99;"><strong>خروج:&nbsp;</strong></span></p>
<p>برای خروج میتوانید از منوی تنظیمات &gt; خروج اقدام نمایید.</p>
<p><span style="background-color: #ffff99;"><strong><span style="font-size: small;">جستجوی کاربران:</span></strong></span></p>
<p>شما می توانید کاربران حاضر در سایت را از طریق نام آن ها در سایت جستجو کنید. برای این کار باید از منوی دسترسی &gt; جستجوی کاربران اقدام نمایید.</p>
		</div>
	</div>
</div>
<div style="padding-top:70px;">  
	<%= render :partial => 'home/events'%>
